/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
 /**/	header{
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
		height: 160px;
		}
		.footer{
		width: 80%;
		}
/**/

.head-div{
		width: 80%;
		margin: 0 auto;
	}
.service-div{
		width: 80%;
	}
.servise-sec{
			width: 80%;
		}
.about-service-div{
		width: 80%;
	}




	
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
/**/
	p{
 		font-size: 80%;s
 	}
 	header{
 		width: 100%;
 		padding: 0;
 		margin: 0;
 	}
 	
	.social i{
		width: 25px;
		height: 25px;
		line-height: 25px;
	}
 	.sect-one{
 		width: 96%;
 		height: 60px;
 		margin: 0 auto;
 	}
 	.sect-two{
 		width: 96%;
 		height: 50px;
 		margin: 0 auto;
 	}
 	nav ul li{
		margin-right:20px;
	}
	nav a{
		font-size: 75%;
	}
	.footer{
		width: 100%;
	}
	.four{
		padding-right: 5px;
	}
	.one{
		padding-left: 5px;
	}
	.four input{
		width: 140px;
	}
/**/

.head-div{
		width: 96%;
		margin: 0 auto;
	}
.service-div{
		width: 96%;
	}
.servise-sec{
			width: 96%;
			display: none;
		}
.about-service-div{
		width: 96%;
	}
}


/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
/**/
	    p{
 		font-size: 80%;
	 	}
	 	h1{
	 		font-size: 140%;
	 	}
	 	header{
	 		width: 100%;
	 		padding: 0;
	 		margin: 0;
	 	}
	 	
		.social i{
			width: 20px;
			height: 20px;
			line-height: 20px;
		}
	 	.sect-one{
	 		width: 96%;
	 		height: 40px;
	 		margin: 0 auto;
	 	}
	 	.sect-two{
	 		width: 96%;
	 		height: 40px;
	 		margin: 0 auto;
	 	}
	 	nav ul li{
			margin-right:12px;
		}
		nav a{
			font-size: 56%;
		}
		.sect-two i{
			width: 15px;
			color:  #F5F5F5;
		}
		.footer{
			width: 100%;
		}
		.footer h4{
			font-size: 90%;
		}
		.four{
			padding-right: 5px;
		}
		.one{
			display: none;
		}
		.two{
			width: 20%;
			padding-left: 5px;
		}
		.three{
			width: 20%;
		}
		.four{
			width: 30%;
			padding-right: 5px;
		}
		.four input{
			width: 100px;
		}
/**/

.head-div{
		width: 96%;
		margin: 0 auto;
	}
.service-div{
		width: 96%;
	}
.servise-sec{
			width: 96%;
			display: none;
		}
.about-service-div{
		width: 96%;
		height: auto;
	}
.items{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 400px;
		height: 190px;
		border-bottom: 1px solid gray;
	}
}


/* Mobile Layout: 320px. */
@media only screen and (max-width: 480px) { 
 /**/
 		p{
 			font-size: 80%;
	 	}
	 	h1{
	 		font-size: 120%;
	 	}
	 	header{
	 		width: 100%;
	 		padding: 0;
	 		margin: 0;
	 	}
	 	nav{
	 		display: none;
	 	}
	 	
		.social i{
			width: 20px;
			height: 20px;
			line-height: 20px;
		}
	 	.sect-one{
	 		width: 96%;
	 		height: 40px;
	 		margin: 0 auto;
	 	}
	 	.sect-two{
	 		width: 96%;
	 		height: 40px;
	 		margin: 0 auto;
	 	}
		.sect-two i{
			width: 15px;
			color:  #F5F5F5;
		}
		.footer{
			width: 100%;
		}
		.footer h4{
			font-size: 90%;
		}
		.four{
			padding-right: 5px;
		}
		.one{
			display: none;
		}
		.two{
			display: none;
		}
		.three{
			width: 40%;
			font-size: 80%;
			padding-left: 5px;
		}
		.four{
			width: 40%;
			padding-right: 5px;
		}
		.four input{
			width: 100px;
		}
		footer span{
			padding: 6px;
			font-size: 60%;
		}
/**/

.head-div{
		width: 96%;
		margin: 0 auto;
	}
.service-div{
		width: 96%;
	}
.servise-sec{
			width: 96%;
			display: none;
		}
.about-service-div{
		width: 96%;
		height: auto;
		flex-direction: column;
	}
.text-div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		width: 100%;
		padding-bottom: 10px;
		margin: 2px;
		border-bottom: 1px solid gray;
	}
.items{
		width: 100%;
		height: 190px;
		border-bottom: 1px solid gray;
	}
.item-one{
	flex-direction: column;
	}

}